{% doc %}
  Renders a cart discount form.
  @param {string} section_id - The section ID
{% enddoc %}

{% liquid
  assign discount_codes = cart.cart_level_discount_applications | where: 'type', 'discount_code' | map: 'title'
  for item in cart.items
    for allocation in item.line_level_discount_allocations
      if allocation.discount_application.type == 'discount_code'
        assign discount_codes = item.line_level_discount_allocations | slice: forloop.index0 | map: 'discount_application' | map: 'title' | concat: discount_codes
      endif
    endfor
  endfor

  assign discount_codes = discount_codes | uniq
%}

<cart-discount-component
  data-section-id="{{ section_id }}"
>
  <cart-discount-accordion class="cart-discount" closeWithEscape="true">
    <details
      class="details discount-details"
      {% if discount_codes.size > 0 %}
        open
      {% endif %}
      declarative-open
    >
      <summary class="cart-discount__summary">
        <span class="cart-discount__label h6">{{ 'discount_field.content.discount' | t }}</span>

        <span class="svg-wrapper icon-plus">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="vertical" d="M2.75 7H11.25" stroke="currentColor" stroke-width="var(--icon-stroke-width)" stroke-linecap="round"/>
            <path class="horizontal" d="M7 2.75L7 11.25" stroke="currentColor" stroke-width="var(--icon-stroke-width)" stroke-linecap="round"/>
          </svg>
        </span>
      </summary>

      <div class="details-content">
        <div class="cart-discount__content">
          <form
            on:submit="/applyDiscount"
            onsubmit="return false;"
            class="cart-discount__form"
          >
            <label
              for="cart-discount"
              class="visually-hidden"
            >
              {{ 'discount_field.accessibility.discount' | t }}
            </label>
            <input
              id="cart-discount"
              class="cart-discount__input"
              name="discount"
              placeholder="Discount code"
            >
            <button
              type="submit"
              class="button button--primary cart-discount__button"
            >
              {{ 'discount_field.content.apply' | t }}
            </button>
          </form>
        </div>
        <div
          class="cart-discount__error hidden"
          role="alert"
          ref="cartDiscountError"
        >
          <span class="svg-wrapper">
            <svg class="icon icon-error" viewBox="0 0 13 13">
              <circle cx="6.5" cy="6.5" r="5.5" stroke="#fff" stroke-width="var(--icon-stroke-width)"/>
              <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width=".7"/>
              <path fill="#fff" d="m5.874 3.528.1 4.044h1.053l.1-4.044zm.627 6.133c.38 0 .68-.288.68-.656s-.3-.656-.68-.656-.681.288-.681.656.3.656.68.656"/>
              <path fill="#fff" stroke="#EB001B" stroke-width=".7" d="M5.874 3.178h-.359l.01.359.1 4.044.008.341h1.736l.008-.341.1-4.044.01-.359H5.873Zm.627 6.833c.56 0 1.03-.432 1.03-1.006s-.47-1.006-1.03-1.006-1.031.432-1.031 1.006.47 1.006 1.03 1.006Z"/>
            </svg>
          </span>
          <small
            class="cart-discount__error-text cart-primary-typography hidden"
            ref="cartDiscountErrorDiscountCode"
          >
            {{ 'discount_field.content.discount_code_error' | t: code: 'test' }}
          </small>
          <small
            class="cart-discount__error-text cart-primary-typography hidden"
            ref="cartDiscountErrorShipping"
          >
            {{ 'discount_field.content.shipping_discount_error' | t }}
          </small>
        </div>
        <ul class="cart-discount__codes">
          {% for discount_code in discount_codes %}
            <li
              class="cart-discount__pill"
              data-discount-code="{{ discount_code }}"
              aria-label="{{ 'discount_field.accessibility.discount_applied' | t: code: discount_code }}"
            >
              <p class="cart-discount__pill-code">
                {{ discount_code }}
              </p>
              <button
                type="button"
                on:click="/removeDiscount"
                class="cart-discount__pill-remove svg-wrapper svg-wrapper--smaller button-unstyled"
                aria-label="{{ 'discount_field.content.remove_discount' | t: code: discount_code }}"
              >
                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="var(--close-icon-opacity)">
                    <path d="M6 1.5L1 6.5" stroke="currentColor" stroke-width="var(--icon-stroke-width)" stroke-linecap="round"/>
                    <path d="M1 1.5L6 6.5" stroke="currentColor" stroke-width="var(--icon-stroke-width)" stroke-linecap="round"/>
                    </g>
                </svg>
              </button>
            </li>
          {% endfor %}
        </ul>
      </div>
    </details>
  </cart-discount-accordion>
</cart-discount-component>
<script>

</script>
{% stylesheet %}
  cart-discount-component {
    display: flex;
    --icon-size-xs: 15px;
    --margin-3xs: 2px;
    --margin-xs: 4px;
    --padding-sm: 6px;
    --padding-2xs: 3px;
    --padding-md: 7px;
    --padding-xs: 4px;
    --color-foreground: rgba(0 0 0 / 0.81);
    --color-foreground-transparent: rgba(0 0 0 / 0.1);
    --color-input-background: rgba(255 255 255 / 0.78);
    --color-input-text: rgba(51 51 51 / 1.0);
    --color-input-border: rgba(245 245 245 / 1.0);
    --style-border-radius-pills: 40px;
    --style-border-width-inputs: 1px;
    --button-size: 44px;
    --opacity-subdued-text: 0.7;
    --gap-2xs: 10px;
    --discount-font-size--sm: 20px;
    --discount-font-size--xs: 10px;
    border-top: 1px solid var(--color-foreground-transparent);
    border-bottom: 1px solid var(--color-foreground-transparent);
    padding: 15px 0;
  }
  cart-discount-component .details-content {
    overflow: hidden;
  }
  cart-discount-component details[open] .details-content {
    max-height: none;
  }
  cart-discount-component details[open] .icon-plus .horizontal {
    opacity: 0;
  }
  cart-discount-component .cart-discount__input {
    background-color: var(--color-input-background);
    color: var(--color-input-text);
    border-width: var(--style-border-width-inputs);
    border-color: var(--color-input-border);
    border-style: solid;
    padding: var(--padding-sm) var(--padding-md);
    height: 100%;
    flex-grow: 1;
    min-width: 0;
  }
  cart-discount-component .cart-discount__input:focus,
  cart-discount-component .cart-discount__input:focus-within,
  cart-discount-component .cart-discount__input:focus-visible {
    border-color: var(--color-foreground);
  }

  cart-discount-component .cart-discount__input::placeholder {
    color: rgba(from var(--color-input-text) r g b / var(--opacity-subdued-text));
  }

  cart-discount-component .cart-discount__label {
    display: flex;
    align-items: flex-start;
    gap: var(--gap-2xs);
    font-size: var(--discount-font-size--sm);
    margin: 0;
  }

  cart-discount-component .cart-discount__pill-code {
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    font-size: var(--discount-font-size--xs);
  }

  cart-discount-component .cart-discount {
    width: 100%;
  }

  cart-discount-component .cart-discount__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  cart-discount-component .cart-discount__summary:hover {
    color: rgb(from var(--color-foreground) r g b / var(--opacity-subdued-text));
  }

  cart-discount-component .cart-discount__codes {
    display: none;
    gap: var(--gap-2xs);
    flex-wrap: wrap;
    list-style: none;
    padding-inline: 0;
    margin: 0;
  }

  cart-discount-component .cart-discount__codes:has(.cart-discount__pill) {
    display: flex;
  }

  cart-discount-component .cart-discount__button {
    height: 100%;
    min-height: auto;
  }

  cart-discount-component .cart-discount__content {
    height: calc(var(--button-size) + var(--padding-2xs) + var(--padding-sm));
  }

  cart-discount-component .cart-discount__pill {
    display: flex;
    color: var(--color-foreground);
    gap: var(--padding-2xs);
    align-items: center;
    padding: var(--padding-2xs) var(--padding-sm);
    border-radius: var(--style-border-radius-pills);
    background-color: var(--color-input-background);
    text-transform: uppercase;
    border: 1px solid var(--color-foreground-transparent);
  }

  cart-discount-component .cart-discount__form {
    display: flex;
    gap: var(--padding-md);
    align-items: center;
    height: 100%;
    padding-block: var(--padding-2xs) var(--padding-sm);
  }

  :is(cart-discount-component .cart-discount__pill-remove, cart-discount-component .cart-discount__pill-remove:hover) {
    color: var(--color-foreground);
    background-color: transparent;
    pointer-events: all;
    cursor: pointer;
    --close-icon-opacity: .7;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  cart-discount-component .cart-discount__error {
    display: flex;
    align-items: center;
    width: 100%;
    padding-block: var(--padding-2xs) var(--padding-sm);
  }

  cart-discount-component .cart-discount__error .svg-wrapper {
    flex-shrink: 0;
    display: flex;
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);
    margin-inline: var(--margin-3xs) var(--margin-xs);
  }
{% endstylesheet %}